body{
    margin: 10;
    font-family: Arial, Helvetica, sans-serif;
}
#div_login{
    display: flex;
    align-items: center;
    align-content: space-around;
    flex-direction: column-reverse;
    padding-top: 50px;
}
#div_registrazione{
    display: flex;
    align-items: center;
    align-content: space-around;
    flex-direction: column-reverse;
    padding-top: 50px;
}
#titoli{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #19a2e7;
    margin-bottom: 20px;
}
#form-group{
    background-color: #F5DEB3;
}
#sfondo_home{
    background-color: #FAEBD7;
}

#sfondo{
    background-color: #19a2e7;
    max-height: 500px;
}
#header{
    display: flex;
    justify-content: center;
    color: #FFFACD;
}
#titolo_home{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#btn-group{
    display: flex;
    align-items: center;
    padding-right: 20px;
}
#btn_login{
    margin: 5px;
}
#btn_regis{
    margin: 5px;
}
#logo_home{
    padding-left: 20px;
    
}
#logo_img{
    max-width: 150px;
    max-height: 150px;
    border-radius: 30px;
    padding: 10px;
}
#tabella_giocatori{
    padding-top: 100px;
    max-width: 700px;
}

#tab_giocatori{
    background-color: #FFE4C4;
}
#a_bottone_login{
    text-decoration: none;
    color: white;
}
#btn_modalita{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
#Giocatore-1{
    display: flex;
}
#Giocatore-2{
    display: flex;
    flex-direction: row-reverse;
}
#lista_giocatori{
    display: flex;
    justify-content: space-between;
}

.connesso, .pronto{
    font-weight: normal;
}
.connesso span,
.pronto span{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: red;

}
span.green {
    background: green;
}